@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap');

html,
body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 64, 52);
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
    margin-bottom: 16px;
    user-select: none; /* Makes the text not selectable */
}

#title {
    font-family: 'Cabin Sketch', cursive;
    font-size: 6em;
    color: #FFD700;
    margin: 0;
}

div.header > h3 {
    color: #FFD700;
}

/* Grid */
.grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;

    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0 0 7px black;
    background-color: lightgray;
}

.square {
}

/* Options */
.options {
    margin: 20px 0;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

/* Slider */
.slidercontainer {
    width: 100%;
    display: flex;
    justify-content: center;
}
.slider {
    width: 50%;
    height: 7px;
    background-color: white;
    border-radius: 5px;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background-color: lightgray;
    border-radius: 50%;
    border: 0;
}

/* Buttons */
.buttons {
    display: flex;
    width: 100%;
    height: 30%;
    justify-content: center;
    gap: 20px;
}

.buttons > button {
    border-radius: 7px;
    width: 20%;
    height: 100%;
    background-color: #FFD700;
    border: 0;
    box-shadow: 2px 3px 3px black;
}

.buttons > button:hover {
    background-color: black;
    color: white;
    transition: color 0.5s;
    transition: background-color 0.5s;
}